# Dependencies
node_modules/
package-lock.json

# Test Results
test-results/
playwright-report/
screenshots/

# Playwright
.playwright/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
